* {
	margin: 0;
	padding: 0;
}
#keyboard {
	width: 30%;
	display: flex;
	flex-wrap: wrap;

	justify-content: space-around;
	button {
		width: 20%;
		height: 6rem;
		cursor: pointer;
		font-size: 1.5rem;
		font-weight: bolder;
		border: 2px solid #fcfcfc;
		background: transparent;
		color: #fff;

		transition: 0.5s;
		margin: 1px;
		animation: rotateXY 1s forwards;
		&:hover {
			font-size: 2.5rem;
			border: 2px solid transparent;
			box-shadow: -1.5rem 0 0.5rem -1.2rem rgba(255, 255, 255, 1), 1.5rem 0 0.5rem -1.2rem rgba(255, 255, 255, 1);
			animation: colorAni 5s infinite;
		}
		@keyframes rotateXY {
			10% {
				transform: rotate(360deg);
			}
			80% {
				transform: rotateX(360deg) rotateY(360deg);
			}
		}
		@keyframes colorAni {
			20% {
				box-shadow: -1.5rem 0 0.5rem -1.2rem rgb(253, 2, 2), 1.5rem 0 0.5rem -1.2rem rgb(55, 6, 255);
			}
			40% {
				box-shadow: -1.5rem 0 0.5rem -1.2rem rgb(246, 239, 30), 1.5rem 0 0.5rem -1.2rem rgb(254, 4, 246);
			}
			60% {
				box-shadow: -1.5rem 0 0.5rem -1.2rem rgb(13, 255, 0), 1.5rem 0 0.5rem -1.2rem rgb(255, 155, 5);
			}
			80% {
				box-shadow: -1.5rem 0 0.5rem -1.2rem rgb(4, 167, 255), 1.5rem 0 0.5rem -1.2rem rgb(122, 187, 9);
			}
			100% {
				box-shadow: -1.5rem 0 0.5rem -1.2rem rgb(187, 57, 57), 1.5rem 0 0.5rem -1.2rem rgb(141, 252, 237);
			}
		}
	}
}
.app-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	.tags_box {
		width: 25%;
		text-align: center;
		height: 100vh;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		flex-wrap: wrap;
		box-shadow: inset 0 -10px 1rem -5px rgb(255, 255, 255);
		.tags {
			div {
				padding: 10px;
				cursor: pointer;
				margin: 0;
			}
			.isActive {
				transition: 0.5s;

				background: #0e5393;
				font-weight: bolder;
				border-right: 3px double #025fbd;
				box-shadow: inset -5px 0 0.5rem 2px rgb(0, 0, 0);
			}
		}
	}
	.con_box {
		width: 30%;
		height: 100%;

		input {
			font-size: 2rem;
		}
		select {
			option {
				padding: 10px;
				font-weight: bolder;
				background: #000000;
			}
			width: 100%;
			position: relative;
			font-weight: bolder;
			font-size: 1rem;
			padding: 15px;
			white-space: pre-wrap;
			text-align: left;
			color: #ffffff;
			appearance: none;
			background: transparent;
			background: url("https://img-qn.51miz.com/preview/element/00/01/24/82/E-1248216-23CD4494.jpg") no-repeat right center;
			background-size: 3rem 100%;
			transition: 1s;
			border: solid 2px rgba(2, 2, 2, 0.5);
			&:hover {
				box-shadow: inset 0 0 1rem 2px #0789e0;
				cursor: pointer;
			}
			&:focus {
				outline: none;
				background: url("@/assets/image/DocumentPic/up.png") no-repeat right center;
				background-size: 3rem 100%;
			}
		}
	}
}