svg:hover {
	cursor: pointer;
	color: #ff0000;
}
input {
	position: fixed;
	background: rgba(60, 80, 99, 0.5);
	border: none;
	right: 10%;
	top: 10%;
	color: #fff;
	height: 5%;
	width: 10%;
	transition: 0.5s;
	border-radius: 10px;
	&:hover{
		box-shadow:inset 0 0 15px 1px #0067bb;
	}
	&:focus {
		width: 25%;
		outline: none;
		border-bottom: 1px solid #a8cbff;
	}
}
footer {
	padding: 15px 0 0 15px;
	p {
		padding: 15px;
		background: #000;
		a {
			color: #3f8bd1;
			&:hover {
				color: #63b0f8;
			}
		}
		svg {
			margin-left: 2rem;
		}
	}
	#myCollectSubTab,
	#myCollectSecTab,
	#myCollectMv {
		margin: 1rem 0 0 1rem;
		display: flex;
		flex-wrap: wrap;
		.singer-all {
			width: 20%;
			margin-left: 2%;
			margin-top: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			
			background: transparent;
			position: relative;
			transition: 1s;
			border-radius: 15px;
			img {
				width: 100%;
				height: 60%;
				background-size: cover;
				margin: 0 0 10px 0;
				transition: 1s;
				border-radius: 10px;
			}
			h5,
			h6 {
				width: 80%;
				margin: 5px;
			}

			h6 {
				color: #9e9c9c;
				font-weight: normal;
				&:hover {
					color: #c8c7c7;
				}
			}
			svg {
				position: absolute;
				z-index: 1;
				left: 41%;
				top: 23%;
				opacity: 0;
				transition: 0.5s;
				font-weight: bolder;
			}
			&:hover {
				cursor: pointer;
				background: rgba(0, 0, 0, 0.5);
			}
			&:hover img {
				cursor: pointer;
				opacity: 0.6;
			}
			&:hover svg {
				opacity: 1;
			}
		}
	}
	#myCollectMv {
		position: relative;
		h4 {
			width: auto;
			position: absolute;
			font-size: 0.8rem;
			padding: 5px;
			text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
		}
		h4:nth-of-type(1) {
			top: -2%;
			right: 3%;
		}
		h4:nth-of-type(2) {
			background: #494949;

			right: 3%;
			top: 41%;
		}
	}
}
button {
	background: transparent;
	color: #fff;
	border: none;
	padding: 10px 15px;
	transition: 0.5s;
	border-radius: 15px;
	margin: 15px 15px 0 15px;
	&:hover {
		cursor: pointer;
		background: linear-gradient(to right, #3474af, #000000);
	}
}
.isActive {
	transition: 0.5s;
	text-align: center;

	font-weight: bolder;
	border-bottom: 2px solid #1eff00;
}
.isSubActive {
	transition: 0.5s;
	text-align: center;
	font-weight: bolder;
	box-shadow: inset 0 0 15px 0 #108a00;
}