header {
	width: 95%;
	margin-top: 2%;
	padding-left: 4%;
	height: 10%;
	display: flex;
	position: relative;
	button {
		position: relative;
		background: transparent;
		color: #b7b4b4;
		font-size: 1rem;
		margin-right: 5%;
		border: 1px solid transparent;
		&:hover {
			cursor: pointer;
			color: #fff;
		}
		h6 {
			position: absolute;
			font-size: 0.9rem;
			top: -35%;
			right: -20%;
		}
	}
	.isActive {
		transition: 0.5s;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-bottom: 2px solid #fff;
	}
}
footer {
	width: 95%;
	padding-left: 4%;
	display: flex;
	flex-direction: column;
	svg:hover {
		transition: 0.5s;
		color: #0217ff;
		cursor: pointer;
	}
	.buttonGroup {
		position: relative;
		margin: 2% 0;
		display: flex;
		width: 100%;
		input {
			position: absolute;
			background: rgba(60, 80, 99, 0.5);
			border: none;
			right: 10%;
			top: 10%;
			color: #fff;
			height: 80%;
			width: 10%;
			transition: 0.5s;
			border-radius: 10px;
			&:hover {
				box-shadow: inset 0 0 15px 1px #0067bb;
			}
			&:focus {
				width: 25%;
				outline: none;
				border-bottom: 1px solid #a8cbff;
			}
		}
		button {
			padding: 5px 10px;
			height: 3rem;
			line-height: 2.5rem;
			margin-left: 1rem;
			color: #fff;
			border: none;
			background: #292828;
			text-align: center;
			border-radius: 10px;
			&:nth-of-type(1) {
				background: #24735f;
				&:hover {
					cursor: pointer;
					background: #31997f;
				}
			}
			&:hover {
				cursor: pointer;
				background: #424141;
			}
		}
	}
	#myDownloadA,
	#myDownloadB,
	#myDownloadC,
	#myDownloadD {
		width: 100%;
		svg:hover {
			transition: 0.5s;
			color: #65dd69;
			cursor: pointer;
		}
		table {
			margin-top: 1%;
			width: 95%;
			tr {
				&:hover {
					cursor: pointer;
					background: rgba(111, 111, 111, 0.5);
				}
				&:hover h4 {
					opacity: 1;
				}
			}
			.likeSong {
				display: grid;
				padding-top: 1%;
				align-items: center;
				grid-template-rows: 50% 40%;
				grid-template-columns: 13% 60% 25%;
				img {
					height: 100%;
					width: 3rem;
					border-radius: 10px;
					grid-column: 1 / span 1;
					grid-row: 1 / span 2;
				}
				h3 {
					grid-column: 2 / span 1;
					grid-row: 1 / span 1;
					margin: 0;
					font-size: 1rem;
				}
				h4 {
					display: flex;
					align-items: center;
					justify-content: space-around;
					grid-column: 3 / span 1;
					grid-row: 1 / span 2;
					opacity: 0;
					transition: 0.5s;
				}
				h5 {
					display: flex;
					grid-column: 2 / span 1;
					grid-row: 2 / span 1;
					align-items: center;
					font-size: 0.8rem;
					margin: 0;
					color: #858585;
					&:hover {
						color: #cfcfcf;
					}
				}
			}
			th {
				text-align: left;
				color: #b7b4b4;
				padding: 10px;
				position: relative;
				&:hover h5 {
					opacity: 1;
					transition: 0.5s;
				}
				h5 {
					position: absolute;
					margin: 0;
					right: 10%;
					top: 25%;
					opacity: 0;
				}
				&:hover {
					cursor: pointer;
					background: rgba(92, 45, 45, 0.5);
				}
			}
			th:nth-of-type(3) {
				width: 30%;
			}
			td:nth-of-type(3) {
				color: #858585da;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&:hover {
					color: #ffffff;
				}
			}
			th:nth-of-type(1) {
				width: 4%;
			}
			th:nth-of-type(4) {
				width: 10%;
			}

			td {
				padding-left: 1%;
			}
		}
	}
	#myDownloadC {
		display: flex;
		flex-wrap: wrap;
		.singer-all {
			width: 20%;
			margin-left: 2%;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			background: transparent;
			position: relative;
			transition: 1s;
			border-radius: 15px;
			img {
				width: 100%;
				height: 60%;
				background-size: cover;
				margin: 0 0 10px 0;
				transition: 1s;
				border-radius: 10px;
			}
			h5,
			h6 {
				width: 80%;
				margin: 5px;
			}

			h6 {
				color: #9e9c9c;
				font-weight: normal;
				&:hover {
					color: #c8c7c7;
				}
			}
			svg {
				position: absolute;
				z-index: 1;
				left: 41%;
				top: 23%;
				opacity: 0;
				transition: 0.5s;
				font-weight: bolder;
			}
			&:hover {
				cursor: pointer;
				background: rgba(0, 0, 0, 0.5);
			}
			&:hover img {
				cursor: pointer;
				opacity: 0.6;
			}
			&:hover svg {
				opacity: 1;
			}
		}
		h4 {
			width: auto;
			position: absolute;
			font-size: 0.8rem;
			padding: 5px;
			text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
		}
		h4:nth-of-type(1) {
			top: -2%;
			right: 3%;
		}
		h4:nth-of-type(2) {
			background: #494949;

			right: 3%;
			top: 41%;
		}
	}
	#myDownloadD {
		.progress-download {
			width: 100%;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			h5,
			h6 {
				margin: 8px;
			}
		}
		.progress-container {
			width: 80%;
			height: 0.7rem;
			border-radius: 25px;
			background: #ffffff;
			border-left: 1px solid #ffffff;
			border-right: 2px solid #ffffff;
			box-shadow: inset -15px 0 10px -1px #010101;
			.progressDL {
				width: 30%;
				height: 50%;
				border-radius: 25px;
				
				box-shadow: 5px 0 10px 1px #ffffff;
				border-top: 1px solid #030b3f;
				border-bottom: 6px double #030b3f;
				background: linear-gradient(to left, #ffffff, #ffeb7b, #04229a);
				animation: progressDL 1s infinite both;
			}
			@keyframes progressDL {
				0% {
					border-top: 1px ridge #030b3f;
					border-bottom: 6px double #030b3f;
				}
				50% {
					border-bottom: 1px ridge #030b3f;
					border-top: 6px double #030b3f;
				}
				100% {
					border-top: 1px ridge #030b3f;
					border-bottom: 6px double #030b3f;
				}
			}
		}
	}
}