* {
    margin: 0;
    padding: 0;
}

#recommendCon {
    width: 96%;
    height: 100%;
    display: flex;
    margin-left: 2%;
    flex-direction: column;
}
.recMulPart {
    width: 95%;
    height: 60%;
    display: flex;
    flex-shrink: 0;
    margin-top: 3%;
    flex-direction: column;
    .recFiveLine {
        height: 95%;
        footer {
            flex-wrap: wrap;
            height: 85%;
            margin-left: 1%;
            flex-direction: column;
            justify-content: space-around;
            span {
                position: relative;
                display: grid;
                margin-top: 1%;
                grid-template-columns: 22% 20% 23% 35%;
                grid-template-rows: 40% 30% 30%;
                width: 40%;
                height: 29%;
                overflow: hidden;
                .FivePlayBtn {
                    position: absolute;
                    left: 10%;
                    top: 40%;
                    opacity: 0;
                    transition: 0.5s;
                }
                &:hover .FivePlayBtn {
                    opacity: 1;
                }
                &:hover img {
                    opacity: 0.4;
                }
                &:hover {
                    cursor: pointer;
                    background: linear-gradient(to right, #144da8, #000);
                }
                &:hover div {
                    width: 100%;
                }
                h4,
                h5,
                h6 {
                    margin: 0 0 0 10px;
                    transition: 0.5s;
                    &:hover {
                        cursor: pointer;
                        color: #ffffff;
                    }
                }
                h6 {
                    color: rgb(0, 200, 255);
                    width: auto;
                    border-radius: 5px;
                    padding: 5px;
                    line-height: 15px;
                    text-align: center;
                }
                h4 {
                    grid-column: 2 / span 2;
                    grid-row: 1 / span 1;
                }
                h5 {
                    color: #b3acac;
                    grid-column: 2 / span 2;
                    grid-row: 2 / span 1;
                }
                h6:nth-of-type(1) {
                    grid-column: 2 / span 1;
                    border: 1px solid #0095ff;
                    grid-row: 3 / span 1;
                }
                h6:nth-of-type(2) {
                    background: linear-gradient(to bottom, #030e36, #01081a);
                    grid-column: 3 / span 1;
                    grid-row: 3 / span 1;
                }
                div {
                    transition: 1s;
                    width: 0;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    grid-column: 4 / span 1;
                    grid-row: 1 / span 3;
                }
                img {
                    width: 80%;
                    height: 80%;
                    margin: 10%;
                    transition: 0.5s;
                    grid-column: 1 / span 1;
                    grid-row: 1 / span 3;
                }
            }
        }
    }
}

.recFirstLine,
#recSecLine,
#recThirdLine,
#recFourLine,
.recFiveLine {
    width: 95%;
    display: flex;
    flex-shrink: 0;
    margin-top: 3%;
    margin-left: 2%;

    svg:hover {
        color: #ff0000;
        cursor: pointer;
    }
    header {
        position: relative;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer {
        width: 100%;
        display: flex;
    }
}

#recSecLine,
#recFourLine,
.recFiveLine {
    flex-wrap: wrap;
    header {
        button {
            font-size: 1.5rem;
            position: absolute;
            background: transparent;
            top: -30%;
            z-index: 1;
            margin: 10px;
            color: #ffffff;
            border: transparent;
            &:hover {
                text-align: center;
                padding: 0 20px;
                transition: 1s;
                cursor: pointer;
                color: #ff0000;
                border-bottom: 1px solid red;
            }
            &:nth-of-type(1) {
                left: 30%;
            }
            &:nth-of-type(2) {
                left: 50%;
            }
        }
    }
}
#recFourLine {
    height: 45%;
    footer {
        height: 80%;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
        &::-webkit-scrollbar {
            display: none; /* Chrome Safari */
        }
        span {
            position: relative;
            background-size: cover;
            background-position: center;
            width: 10%;
            flex-shrink: 0;
            height: 100%;
            padding: 0 20px;
            margin-left: 20px;
            border-radius: 10px;
            color: #ffffff;
            h5 {
                margin: 0.2rem;
                padding-top: 0.3rem;
                text-align: right;
            }
            div {
                position: absolute;
                text-align: center;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                overflow-y: hidden;
                background: #144da8;
                border-radius: 10px;
                opacity: 0;
                transition: 1s;
            }
            &:hover {
                cursor: pointer;
                text-shadow: -1px 1px 0 #000000;
            }
            &:hover div {
                bottom: -50%;
                opacity: 1;
            }
            @keyframes divHover {
            }
            h4,
            ol {
                margin: 5px;
            }
        }
    }
}
#recThirdLine {
    height: 60%;
    flex-direction: column;
    overflow-y: hidden;
    footer {
        height: 100%;
        align-items: center;
        flex-wrap: wrap;
        div {
            width: 27%;
            height: 45%;
            margin: 0.8% 1.5%;
            background: #000;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: space-between;
            border-radius: 10px;
            svg {
                position: absolute;
                left: 5%;
                top: 30%;
                opacity: 0;
                transition: 1s;
            }
            &:hover {
                cursor: pointer;
            }
            h3 {
                width: 70%;
                height: 10%;
                padding-left: 10px;
                margin: 2% 0 0 0;
            }
            h6 {
                width: 25%;
                height: 10%;
                margin: 3% 0 0 0;
                text-align: center;
            }
            img {
                width: 40%;
                height: 50%;
                margin: 3% 5%;
            }
            ol {
                width: 40%;
                height: 50%;
                margin: 0;
            }
            li {
                &:hover {
                    color: #ff0000;
                }
            }
            &:hover img {
                opacity: 0.3;
            }
            &:hover svg {
                opacity: 1;
            }
        }
    }
}
#recSecLine {
    height: 45%;
    footer {
        height: 80%;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
        &::-webkit-scrollbar {
            display: none; /* Chrome Safari */
        }
        span {
            position: relative;
            background-size: cover;
            background-position: center;
            width: 12%;
            flex-shrink: 0;
            height: 100%;
            padding: 0 20px;
            margin-left: 20px;
            border-radius: 10px;
            text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
            h5 {
                margin: 0.2rem;
                padding-top: 0.3rem;
                text-align: right;
            }
            div {
                position: absolute;
                text-align: center;
                bottom: 0;
                left: 0;
                height: 25%;
                width: 100%;
                overflow: hidden;
                color: #ffffff;
                border-radius: 0 0 10px 10px;
            }
            svg {
                display: none;
                transition: 0.5s;
            }
            &:hover {
                cursor: pointer;
            }
            &:hover svg {
                display: inline-block;
            }
            &:hover div {
                transition: 0.5s;
                height: 50%;
            }
            h4,
            ol {
                width: 95%;
                padding: 0 5px;
                font-size: 0.9rem;
            }
            ol {
                text-align: left;
                font-size: 0.7rem;
                white-space: nowrap; /* 文本强制不换行 */
                text-overflow: ellipsis; /* 文本溢出显示省略号 */
                overflow: hidden; /* 溢出的部分隐藏 */

                li {
                    list-style-type: decimal; //显示数字
                    list-style-position: inside;
                }
            }
        }
    }
}

.recFirstLine {
    height: 25%;
    justify-content: flex-start;
    align-items: center;
    .carousel {
        border-radius: 15px;
        width: 30%;
        height: 90%;
        margin: 0 1rem;
        position: relative;
        overflow: hidden;
        display: flex;
        &::before {
            pointer-events: none;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: 0.5s;
        }
        &:hover::before {
            opacity: 1;
            cursor: pointer;
        }
        h2 {
            position: absolute;
            opacity: 0;
            transition: 1s;
            z-index: 2;
            top: 30%;
            &:nth-of-type(1) {
                left: 5%;
            }
            &:nth-of-type(2) {
                right: 5%;
            }
        }
        h2:hover {
            cursor: pointer;
            color: #ff0000;
        }
        &:hover h2 {
            opacity: 1;
        }
        .carousel-img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            img {
                min-width: 100%;
                height: 100%;
                background-size: cover;
            }
            img:hover {
                cursor: pointer;
            }
        }
        .carousel-btn {
            width: 100%;
            height: 10%;
            position: absolute;
            bottom: 10%;
            left: 0;
            display: flex;
            justify-content: space-around;
            z-index: 1;
            svg {
                transition: 0.5s;
            }
            svg:hover {
                cursor: pointer;
                color: rgb(248, 241, 115);
            }
            button:hover {
                cursor: pointer;
            }
            .activeBtn {
                color: rgb(255, 2, 2);
            }
        }
    }
    #recSongList {
        width: 35%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        background: #212122;
        justify-content: space-around;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        border-radius: 15px;
        p {
            font-size: 1rem;
            text-align: center;
            width: 100%;
            height: 15%;
            margin: 0;
        }
        span {
            position: relative;
            width: 20%;
            height: 70%;
            h6 {
                margin: 2px;
                position: absolute;
                text-align: center;
            }
            h6:nth-of-type(1) {
                top: 0;
                left: 0%;
            }
            h6:nth-of-type(2) {
                bottom: 5%;
                left: 5%;
            }
            img {
                border-radius: 0 10px;
                width: 100%;
                height: 100%;
            }
            &:hover img {
                opacity: 0.3;
                cursor: pointer;
            }
        }
    }
    #recScene {
        position: relative;
        width: 20%;
        height: 90%;
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        background: url('https://ts1.cn.mm.bing.net/th/id/R-C.b2cb34f1d62fa2fae5077889fc947ab3?rik=IAAaMR6mAjjDRg&riu=http%3a%2f%2fpic.qianye88.com%2f4kfengjing660d4e07-b029-313b-9c0b-ec87a73940c3.jpg&ehk=beeRJdFqcwPIjMrTjCpFmmjKOO%2f9lT5wGMi05qWUYvo%3d&risl=&pid=ImgRaw&r=0');
        background-size: cover;
        justify-content: space-around;
        border-radius: 15px;
        &:hover {
            cursor: pointer;
            transition: 1s;
            box-shadow: inset 0 0 15px 5px #4c8cf5;
        }
        button,
        h3 {
            color: aliceblue;
            margin-top: 1rem;
            text-align: center;
            width: 40%;
            line-height: 1.7rem;
            height: 20%;
            border: none;
            background: transparent;
            transition: 1s;
        }
        button:hover {
            cursor: pointer;
            background: #000000;
            box-shadow: 0 0 10px 2px #5d5d5f;
        }
        #recSubScene {
            position: absolute;
            top: 40%;
            left: -20%;
            background: #3e3d3d;
            border-radius: 5px;
            width: 140%;
            height: 120%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            z-index: 2;
            display: none;
            span {
                position: relative;
                margin: 0;
                width: 30%;
                height: 40%;
                transition: 0.5s;
                &:hover {
                    box-shadow: 0 0 10px 2px #ffffff;
                    transform: scale(1.1);
                }
            }
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-size: 100% 100%;
                z-index: -1;
                border-radius: 5px;
            }
            h2,
            h5 {
                width: 30%;
                margin: 0;
            }
        }
    }
}

#recSongList span svg,
#recScene svg {
    position: absolute;
    left: 40%;
    top: 45%;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}
#recSongList span:hover svg,
#recScene:hover svg {
    cursor: pointer;
    opacity: 1;
    color: #ff0000;
}