#shopMain {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    &::-webkit-scrollbar {
        display: none;
    }
}
#shopHeader {
    width: 100%;
    height: 70%;
    position: relative;
    box-shadow: inset 0 0 2em 2em black;
    #imgGroup {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        flex-wrap: wrap;
        img {
            max-width: 33%; //控制最大图片比例，这将确保图片在容器宽度变小时自动缩放，而不会超出容器的宽度
            object-fit: fill;
        }
    }

    #buttonGroup {
        box-shadow: 0 0 0.9em 0.3em black;
        position: absolute;
        display: flex;
        left: 20%;
        top: 8%;
        width: 60%;
        height: 10%;
        align-items: center;
        background: linear-gradient(to right, #678bb9, #153a6a);
        img {
            height: 70%;
            box-shadow: 0 0 0.7em 1px black;
        }
        .clickBtn {
            position: relative;
            background: transparent;
            border: none;
            color: white;
            font-weight: bolder;
            padding: 0 15px;
            height: 100%;
            &:hover {
                cursor: pointer;
                box-shadow: inset 0 0 1em 0.1em #000000;
            }
            .subBtn {
                position: absolute;
                font-size: 1.2em;
                left: 0;
                top: 100%;
                font-weight: normal;
                white-space: nowrap;
                border: none;
                display: flex;
                background: linear-gradient(to bottom, #284f83, #0d2748);
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                box-shadow: 0 0 1em 0.3em #000000;
                z-index: 1;
                p {
                    padding: 0.6em 0 0 0.6em;
                    margin-top: 0.8em;
                    margin-bottom: 0.4em;
                    font-size: 0.9em;
                    color: #e9ff6a;
                    font-weight: bolder;
                }
                span {
                    font-size: 0.8em;
                    padding: 0.3em 0;
                    margin: 0.1em 1em;
                    border: none;
                    border-bottom: 2px solid transparent;
                    color: rgb(203, 201, 201);
                    background: transparent;
                    &:hover {
                        color: white;

                        border-bottom: 2px solid rgb(189, 186, 186);
                    }
                }
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
                .subBtn {
                    flex-direction: row;
                    .leftSubBtn,
                    .rightSubBtn {
                        border: none;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            &:nth-of-type(2) {
                .leftSubBtn {
                    span:nth-of-type(3) {
                        margin-top: 0.7em;
                        padding-top: 0.5em;
                        border-top: 1px solid rgb(115, 114, 114);
                    }
                    border-right: 1px solid rgb(71, 70, 70);
                }
                .rightSubBtn {
                    span:nth-of-type(3) {
                        padding-top: 0.5em;
                        margin-top: 0.7em;
                        border-top: 1px solid rgb(115, 114, 114);
                    }
                    border-left: 1px solid rgb(82, 81, 81);
                }
            }
            &:nth-of-type(3) {
                .subBtn {
                    left: -300%;
                }
                .centerSubBtn {
                    display: grid;

                    grid-template-columns: repeat(3, 1fr); /* 创建 3 列 */
                    grid-template-rows: repeat(16);
                    column-gap: 5em;
                    border: 1px solid rgb(71, 70, 70);
                    p {
                        grid-column: 1 / -1; /* 让第一个元素占据所有列 */
                    }
                }
            }
        }

        #searchGroup {
            position: absolute;
            right: 0;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-around;
            input,
            svg {
                margin: 0 10px;
            }
            input {
                color: white;
                padding-left: 1em;
                background: #4f77ac;
                height: 70%;
                border: none;
                border-radius: 0.2em;
                &::placeholder {
                    font-style: oblique;
                    color: #263653;
                }
                &:focus {
                    outline: none;
                }
            }
            svg {
                color: #fefeff;
                &:hover {
                    color: #a1fc71;
                    cursor: pointer;
                }
            }
        }
        #wishList {
            display: flex;
            position: absolute;
            right: 0;
            top: -55%;

            button {
                font-size: 0.5em;
                border-radius: 0.1em;
                border: none;
                padding: 0.5em 1em;
                box-shadow: 0 0 0.9em 0.3em black;
                &:hover {
                    cursor: pointer;
                    font-weight: bolder;
                }
                &:nth-of-type(1) {
                    color: white;
                    background: #000000;
                    &:hover {
                        background: #6d6c6c;
                    }
                }
                &:nth-of-type(2) {
                    color: white;
                    background: #4c9b38;
                    &:hover {
                        background: #5cc043;
                    }
                }
            }
        }
    }
}
#shopContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    #leftMenuCon {
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        #gift {
            margin-top: 2em;
            width: 50%;
            font-size: 0.8em;
            flex-direction: column;

            color: #b8d5fc;
            &:hover {
                color: #ffffff;
                cursor: pointer;
            }
            &:hover h3 {
                color: #ffffff;
            }
            h3 {
                color: #6ca7f5;
                margin: 0;
                padding: 0.2em 0;
            }
            img {
                width: 100%;
            }
        }
        .subLeftMenuCon {
            margin-top: 1em;
            width: 50%;
            display: flex;

            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            p {
                margin: 0.3em 0;
                color: #62809c;
                font-weight: bolder;
            }
            span {
                font-weight: bold;
                white-space: nowrap;
                font-size: 0.8em;
                color: #61707d;
                padding: 0.2em 0.3em;
                &:hover {
                    cursor: pointer;
                    color: #5bacf8;
                }
            }
        }
    }
    #rightMenuCon {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        #rightCarousel {
            width: 100%;
            height: 65%;
            margin: 2em 0 0 0;
            overflow: hidden;
            position: relative;
            display: grid;
            grid-template-columns: 6% 56% 32% 6%;
            grid-template-rows: 93% 7%;
            align-items: flex-end;
            transition: 1s;
            &:hover {
                cursor: pointer;
            }
            &:hover #carousel-img {
                box-shadow: 0 0 2em 0 #8a8a8a;
            }
            h4 {
                position: absolute;
                left: 6%;
                top: 0%;
                color: white;
            }
            button {
                font-size: 3em;
                color: white;
                height: 83%;
                padding: 0 15px;

                background: transparent;
                border: none;
                transition: 1s;
                &:hover {
                    cursor: pointer;
                    color: #5bacf8;
                    box-shadow: inset 0 0 0.5em 0 #ffffff;
                }
                &:nth-of-type(1) {
                    grid-row: 1;
                    grid-column: 1;
                }
                &:nth-of-type(2) {
                    grid-row: 1;
                    grid-column: 4;
                }
            }

            #carousel-img {
                width: 100%;
                height: 83%;
                overflow: hidden;
                box-shadow: 0 0 2em 0 #000000;
                grid-row: 1;
                grid-column: 2;
                display: flex;

                img {
                    min-width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
                img:hover {
                    cursor: pointer;
                }
            }
            #carousel-con {
                width: 100%;
                height: 100%;
                box-shadow: inset 0.5em 0 1em 0 #000000;
                background: linear-gradient(to bottom, #000000, #011436);
                grid-row: 1;
                grid-column: 3;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 17% 50% 15% 8% 8%;

                h2,
                #curCards,
                h3,
                #curTags,
                #carouselSvgGroup,
                p {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin: 0;
                }
                h2 {
                    width: 97%;
                    padding: 0 0 0 3%;
                    grid-row: 1;
                    grid-column: 1 / span 2;
                }
                #curCards {
                    grid-row: 2;
                    grid-column: 1 / span 2;
                    box-shadow: 0 0 2em 0.2em #000000;
                    flex-wrap: wrap;
                    width: 100%;
                    img {
                        max-width: 50%;
                        width: 50%;
                        height: 50%;
                    }
                }
                h3 {
                    width: 97%;
                    padding: 0 0 0 3%;
                    font-size: 1em;
                    grid-row: 3;
                    grid-column: 1 / span 2;
                }
                #curTags {
                    width: 100%;

                    grid-row: 4;
                    grid-column: 1 / span 2;
                    h6 {
                        background: #385780;
                        padding: 0.3rem;
                        margin-left: 10px;
                    }
                }
                p {
                    font-size: 0.7em;
                    width: 97%;
                    padding: 0 0 0 1em;
                    grid-row: 5;
                    grid-column: 1;
                    span {
                        background: #373d43;
                        padding: 0.2em;
                        &:nth-of-type(1),
                        &:nth-of-type(3) {
                            color: #bafb82;
                        }
                        &:nth-of-type(1) {
                            font-weight: bolder;
                            background: #1f6c0c;
                        }
                    }
                }
                #carouselSvgGroup {
                    width: 100%;
                    height: 100%;
                    justify-content: flex-end;
                    grid-row: 5;
                    grid-column: 2;
                    padding: 0;
                    svg {
                        padding: 0 1em 0 0;
                    }
                }
            }
            #carousel-btn {
                width: 100%;
                grid-row: 2;
                grid-column: 1/4;
                display: flex;
                justify-content: center;
                z-index: 1;
                svg {
                    margin: 0 0.5em;
                    transition: 0.5s;
                }
                svg:hover {
                    cursor: pointer;
                    color: rgb(248, 241, 115);
                }
                button:hover {
                    cursor: pointer;
                }
                .activeBtn {
                    color: rgb(255, 2, 2);
                }
            }
        }
    }
}