#gameHeader {
    display: flex;
    flex-direction: column;
    background: #151b22;
    height: 15%;
    position: relative;
    header {
        display: flex;
        width: 100%;
        height: 33%;
        justify-content: space-between;
        section {
            display: flex;
            align-items: center;
            justify-content: center;
            /*
			*给特定的文本上下划线
			*/
            .clickButton:nth-of-type(1) {
                .subButton {
                    p {
                        border-bottom: 1px solid rgb(119, 119, 119);
                    }
                    p:nth-of-type(1),
                    p:nth-of-type(2) {
                        border-bottom: none;
                    }
                }
            }
            .clickButton:nth-of-type(2) {
                .subButton {
                    p:nth-of-type(4),
                    p:nth-of-type(6),
                    p:nth-of-type(11) {
                        border-bottom: 1px solid rgb(119, 119, 119);
                    }
                }
            }
            .clickButton:nth-of-type(3) {
                .subButton {
                    p:nth-of-type(1),
                    p:nth-of-type(3) {
                        border-bottom: 1px solid rgb(119, 119, 119);
                    }
                }
            }
            .clickButton:nth-of-type(4) {
                .subButton {
                    p:nth-of-type(1) {
                        border-bottom: 1px solid rgb(119, 119, 119);
                    }
                }
            }
            .clickButton:nth-of-type(5) {
                .subButton {
                    p:nth-of-type(1),
                    p:nth-of-type(5),
                    p:nth-of-type(4) {
                        border-bottom: 1px solid rgb(119, 119, 119);
                    }
                }
            }
            /****************************************************************/
            button {
                color: #929191;
                background: transparent;
                padding: 10px;
                border: none;
                &:hover {
                    color: #ffffff;
                    cursor: pointer;
                }
            }
            #gameUser {
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s;
                &:hover {
                    background: #172230;
                    cursor: pointer;
                }
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    background-size: 100%;
                    border-right: #52a4fc 2px solid;
                }
                h6 {
                    color: #71b4fc;
                    margin: 0 0 0 5px;
                }
            }
            &:nth-of-type(2) {
                button:nth-of-type(1) {
                    color: #ffffff;
                    background: #035aab;

                    margin: 0 10px 0 0;
                    padding: 2px 15px;
                    border-radius: 5px;
                    &:hover {
                        background: #0374ed;
                    }
                }
                button:nth-of-type(2) {
                    color: #ffffff;
                    border-radius: 5px;
                    background: #108201;

                    margin: 0 10px 0 0;
                    padding: 2px 15px;
                    &:hover {
                        background: #1bca04;
                    }
                }
            }
        }
    }
    footer,
    article {
        display: flex;
        width: 100%;
        height: 33%;
        align-items: center;
        svg {
            margin: 7px 10px;
        }
        a {
            display: flex;
            align-items: center;
        }
        svg,
        a {
            color: #929191;
            &:hover {
                color: #ffffff;
                cursor: pointer;
            }
            &:hover svg {
                color: #ffffff;
            }
        }
    }
    article {
        #gameTab {
            height: 100%;
            display: flex;
            /*
			*给特定的文本上下划线
			*/

            .dropdownButton:nth-of-type(2) {
                .subButton {
                    p:nth-of-type(2) {
                        border-bottom: 1px solid rgb(119, 119, 119);
                    }
                }
            }

            /****************************************************************/
            a {
                white-space: nowrap;
                font-size: 1.2rem;
                padding: 0.5rem;
                color: white;
                text-decoration: none;
                transition: 1s;
                &.router-link-active {
                    color: rgb(88, 141, 255);
                    border-bottom: 2px solid #0374ed;
                }
                &:hover {
                    cursor: pointer;
                    font-weight: bolder;
                    color: #f6f888;
                }
            }
        }
    }
}
.dropdownButton,
.clickButton {
    position: relative;

    .subButton {
        border: none;
        white-space: nowrap;
        background: #3f4854;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        text-align: left;
        left: 0;
        top: 100%;
        z-index: 1;
        p {
            margin: 0;
            font-size: 0.8rem;
            padding: 0.9em 1.2em;
            border: none;
            color: white;
            background: transparent;
            &:hover {
                color: black;
                background: white;
            }
        }
    }
}
#gameTabCon {
    height: 85%;
    background: #14212f;
}