header {
	width: 95%;
	margin-top: 2%;
	padding-left: 4%;
	height: 10%;
	display: flex;
	position: relative;
	button {
		position: relative;
		background: transparent;
		color: #b7b4b4;
		font-size: 1rem;
		margin-right: 5%;
		border: 1px solid transparent;
		&:hover {
			cursor: pointer;
			color: #fff;
		}
		h6 {
			position: absolute;
			font-size: 0.9rem;
			top: -35%;
			right: -20%;
		}
	}
	.isActive {
		transition: 0.5s;
		text-align: center;
		color: #fff;
		font-weight: bolder;
		border-bottom: 2px solid #fff;
	}
}
footer {
	width: 95%;
	padding-left: 4%;
	display: flex;
	#myBokeA,
	#myBokeB,
	#myBokeC,
	#myBokeD {
		width: 100%;
		svg:hover {
			transition: 0.5s;
			color: #65dd69;
			cursor: pointer;
		}
		table {
			margin-top: 1%;
			width: 95%;
			tr {
				&:hover {
					cursor: pointer;
					background: rgba(111, 111, 111, 0.5);
				}
				&:hover h4 {
					opacity: 1;
				}
			}
			.likeSong {
				display: grid;
				padding-top: 1%;
				align-items: center;
				grid-template-rows: 50% 40%;
				grid-template-columns: 10% 60% 25%;
				img {
					height: 100%;
					width: 3rem;
					border-radius: 10px;
					grid-column: 1 / span 1;
					grid-row: 1 / span 2;
				}
				h3 {
					grid-column: 2 / span 1;
					grid-row: 1 / span 1;
					margin: 0;
				}
				h4 {
					display: flex;
					align-items: center;
					justify-content: space-around;
					grid-column: 3 / span 1;
					grid-row: 1 / span 2;
					opacity: 0;
					transition: 0.5s;
				}
				span {
					display: flex;
					grid-column: 2 / span 1;
					grid-row: 2 / span 1;
					align-items: center;
					h6,
					h5 {
						margin: 5px;
					}
					h5 {
						color: #b7b4b4;
						&:hover {
							color: #f4f3f3;
						}
					}
					h6 {
						color: #9e9d9d;
					}
				}
			}
			th {
				text-align: left;
				color: #b7b4b4;
				padding: 10px;
				position: relative;
				&:hover h5 {
					opacity: 1;
					transition: 0.5s;
				}
				h5 {
					position: absolute;
					margin: 0;
					right: 10%;
					top: 25%;
					opacity: 0;
				}
				&:hover {
					cursor: pointer;
					background: rgba(92, 45, 45, 0.5);
				}
			}

			th:nth-of-type(1) {
				width: 4%;
			}
			th:nth-of-type(4),
			th:nth-of-type(3) {
				width: 8%;
			}

			td {
				padding-left: 1%;
			}
		}
	}
	#myBokeA {
		display: flex;
		flex-shrink: 0;

		flex-wrap: wrap;
		svg:hover {
			transition: 0.5s;
			color: #0217ff;
			cursor: pointer;
		}
		aside {
			position: relative;
			width: 95%;

			display: flex;
			justify-content: space-between;
			align-items: center;
			h2 {
				position: absolute;
				top: -30%;
				z-index: 1;
				margin: 10px;
				&:hover {
					cursor: pointer;
					color: #ff0000;
				}
				&:nth-of-type(1) {
					left: 40%;
				}
				&:nth-of-type(2) {
					left: 61%;
				}
			}
		}
		footer {
			width: 95%;
			display: flex;
			height: 100%;
			align-items: center;
			padding-left: 0;

			span {
				position: relative;
				background-size: cover;
				background-position: center;
				width: 11%;
				flex-shrink: 0;
				height: 100%;
				padding: 0 20px;
				margin-left: 20px;
				border-radius: 10px;
				transition: 0.5s;
				h5 {
					margin: 0.2rem;
					padding-top: 0.3rem;
					text-align: right;
					text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
				}
				div {
					position: absolute;
					text-align: center;
					bottom: 0;
					left: 0;
					height: 40%;
					width: 100%;
					overflow-y: hidden;
					color: #ffffff;

					border-radius: 0 0 10px 10px;
					text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
				}
				svg {
					display: none;
					transition: 0.5s;
				}
				&:hover {
					cursor: pointer;
				}
				&:hover svg {
					display: inline-block;
				}

				h4 {
					margin: 5px;
				}
			}
		}
	}
	#myBokeD {
	}
}